<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<% @products.each do |product| %>
  <p><%= link_to product.name, product.price %></p>
<% end %>

<p><%= link_to '新規追加', 'products/new' %></p>