<%= form_for @product , price: {action: :create} do |f| %>
  <%= f.label :name, 'NAME' %>
  <%= f.text_field :name %>
  <%= f.label :price, 'PRICE' %>
  <%= f.text_field :price %>
  <%= f.submit '登録' %>
<% end %>
  